.holder{
	display: flex;               
  justify-content: center;     
  align-items: center; 
  width: 100vw;               
  height: 100vh;               
  margin: 0;                  
  padding: 0;                
  box-sizing: border-box;
}
.item-1{
	width:100px;
	height:100px;
	background-color:red;
}